@import 'variables';

nav{
  width: 100%;
  min-height: 70px;
  background-color: $primary-bg-color;
  padding-left: 38px;
  border-bottom: 2px solid rgb(184, 184, 184);

  .nav-top{
    display: flex;
    min-height: 56px;
    padding: 8px;
    align-items: center;
    img{
      height: 24px;
      width: 74px;
      vertical-align: middle;
    }
    span{
      padding-left: 4px;
      font-family: $secondary-font;
      font-size: 22px;
      line-height: 34px;
      padding-left: 8px;
      vertical-align: middle;
    }
  }
  .nav-bottom{
    ul {
      list-style: none;
      display: flex;  
      li {
        a.active {
          color: $hover-link-color;
          border-bottom: 2px solid $hover-link-color;
        }
        a {
          display: inline-block;
          height: 100%;
          color: $primary-color;
          text-decoration: none;
          font-family: $primary-font;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.43;
          padding-bottom: 6px;
          margin-right: 42px;
          
        }&:hover {
          a{
            color: $hover-link-color;
            border-bottom: 2px solid $hover-link-color;
          }
        }
      }
    }
  }
}